@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
/*Font: Playwrite US Trad*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Font: DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Font: Poppins*/

body{
    background-image: linear-gradient(to bottom,#3800bd,#4a05ed,#e1a9ff);
    background-attachment: scroll;
}

.inativa{
    display: grid;
    gap: .5rem;
    display: none;
    padding-bottom: 10%;
}

#radiosList{
    text-align: center;
    padding-top: 10%;
}

#escolhas{
    align-items: center !important;
    font-size: 20px !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

/*#opcao{
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    padding: 1%;
    
}*/

#criarbt{
    color: #eee6f7;
    font-size: 20px;
    background-color: #270a6b;
    font-weight: bold;
    border: 4px solid #270a6b;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

#pcriar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#criarbt:hover{
    background-color: #4a05ed;
    border-color: #4a05ed;
    transition: 0.5s;
    position: relative;
    display: flex;
}

.rounded-3{
    border-radius: .5rem !important;
}

.tx1{
    font-family: 'DM Sans',sans-serif;
    color: #4a05ed;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.novo{
    font-weight: bold;  
    font-family: 'Playwrite US Trad', sans-serif;
}

.parag{
    font-size: 20px;
    padding-left: 1%;
}