@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
/*Font: Playwrite US Trad*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Font: DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Font: Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Font: Homemade Apple*/

body{
    overflow-x: hidden;
}

.navbar{
    background-color: #05337b;
}

#botao{
    color: #dfdfff;
    background-color: #042354;
    border: 4px solid #042354;
}

#botao:hover{
    color: #042354;
    background-color: #dfdfff;
    border-color: #dfdfff;
}

#tx1{
    font-family: 'Homemade Apple',sans-serif;
    font-size: 80px;
    margin-top: 10%;
    color: white;
}

#tx2{
    font-family: 'DM Sans',sans-serif;
    color: white;
}

#tx1,#tx2{
    padding-left: 5%;
}

#primparte{
    background-image: url(../imagens/fundoHidra.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    padding-top: 5%;
}

#segparte{
    background-color: white;
}

#tx3{
    font-family: 'DM Sans',sans-serif;
    color: #0750c5;
    font-weight: bold;
    padding-top: 3%;
}

#desem{
    background-color: #5c95f0;
    margin-right: 70%;
    border: 3px solid #5c95f0;
    border-radius: 20px;
    padding: 1%;
}

#segparte{
    padding-left: 5%;
}

#tx4{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'DM Sans',sans-serif;
}

#vamos{
    background-image: linear-gradient(to right, #000328,#00458e,#1874d6);
    border: 2px solid white;
    border-radius: 19px;
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
}

#motivos{
    margin-left: 20%;
    margin-right: 20%;
}

#divisor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding-top: 0.5rem;
}

#divisor span{
    background-color: #11489f; 
    padding: 1%;
    font-size: 25px;
    font-style: italic;
    font-family: 'DM Sans',sans-serif;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}

#tx5{
    color: #000328;
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

#desemp{
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.quarparte{
    margin-top: 10%;
    display: flex;
    gap: 20px;
}

.esquerda,.direita{
    flex: 1;            
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

#opcoes{
    background-color: #dfdfff;
    border: 3px solid #dfdfff;
    border-radius: 20px;
    margin-right: 62%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
}

.btt{
    font-size: 18px;
}

.mensagem{
    font-size: 20px;
}

#quinparte{
    background-color: #000328;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 2px solid #000328;
    border-radius: 20px;
    padding-bottom: 2%;
}