@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
/*Font: Playwrite US Trad*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*Font: DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Font: Poppins*/


#principal{
    margin-top: 10%;
    display: flex;      /* Coloca as divs lado a lado */
    gap: 20px;          /* Espaço entre elas */
    /*margin: 20px;*/       /* Espaço externo */
}

#esquerda,#direita {
  flex: 1;            /* Faz cada div ocupar o mesmo espaço */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

#frase{
    background-color: #270a6b;
    border: 2px solid #270a6b;
    border-radius: 20px;
    margin-top: 10%;
}

#seunome{
    font-weight:normal;
    font-style: italic;
    font-family: 'DM Sans',sans-serif;
}

#apre{
    font-size: 50px;
    color: #3906b3;
}

#pergunta{
    font-family: 'DM Sans',sans-serif;
    color: #270a6b;
}

#criarhabito{
    padding-top: 2%;
}

#criarh{
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
    font-size: 20px;
    color: #270a6b;
    background-color: #eee6f7;
    border: 3px solid #eee6f7;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #3906b3;
}

#adicao{
    background-color: #8372f8;
    border: 2px solid #8372f8;
    border-radius: 100%;
}

#motiva{
    font-size: 25px;
    font-family: 'DM Sans',sans-serif;
    padding: 2%;
}

#seushabitos{
    background-color: #503fc2;
    border: 2px solid #503fc2;
    border-radius: 20px;
    padding: 2%;
}

@media screen and (max-width: 767px){
    .divisao{
        height: 4px;
        width: 455px;
        transform: none;
    }
    .principal{
        flex-direction: column;
        height: 4px;
        width: 455px;
        transform: none;
    }
}